
#grid-and-controls {
    float: left;
}

#key {
    float: right;
}

#key div {
    width: 50px;
    height: 50px;
}

#grid td {
    border: 1px solid black;
    height: 50px;
    width:  50px;
    font-size: 10pt;
}

input {
    width: 50px;
}

.wall {
    background: black;
    color: white;
}

.frontier {
    background: lightgray;
}

.path {
    background: gray;
}

.start {
    background: lightcoral;
}

.end {
    background: lightblue;
}

.current {
    background: lightgreen;
}

#instructions {
    margin-top: 20px;
}

#ghf-key {
    width: 300px;
}

#ghf-key td, #ghf-key th {
    padding-bottom: 10px;
    vertical-align: top;
}
